/* Source: https://stackoverflow.com/questions/68419157/how-to-set-image-size-dynamically-in-reactjs */

.cards {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: 80%;
  flex-wrap: wrap;
  max-width: 1440px; /* whatever you desire */
  margin-left: auto; /* center the container */
  margin-right: auto; /* center the container */
}

.card {
  margin: 1em;
  box-shadow: 0 0 6px #000;
  object-fit: cover;
  flex: 0 0 25%; /* each card will be 25% width */
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}